USE [master]
GO
/****** Object:  Database [FinSight_DB]    Script Date: 3/27/2025 6:49:21 PM ******/
CREATE DATABASE [FinSight_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinSight_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FinSight_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinSight_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FinSight_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinSight_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinSight_DB]
GO
/****** Object:  Table [dbo].[Market_Data]    Script Date: 3/27/2025 6:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market_Data](
	[market_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_symbol] [nvarchar](50) NULL,
	[current_price] [float] NULL,
	[timestamp] [datetime] NULL,
 CONSTRAINT [PK_Market_Data] PRIMARY KEY CLUSTERED 
(
	[market_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 3/27/2025 6:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[portfolio_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_type] [nvarchar](50) NULL,
	[asset_symbol] [nvarchar](50) NULL,
	[quantity] [float] NULL,
	[buy_price] [float] NULL,
	[purchase_date] [date] NULL,
 CONSTRAINT [PK_Portfolio] PRIMARY KEY CLUSTERED 
(
	[portfolio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Market_Data] ADD  CONSTRAINT [DF_Market_Data_timestamp]  DEFAULT (getdate()) FOR [timestamp]
GO
USE [master]
GO
